<div class="login-container">
  <h2>Login</h2>
  <form (ngSubmit)="onLogin()">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="loginModel.email" name="email" required />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input
        matInput
        [(ngModel)]="loginModel.password"
        name="password"
        type="password"
        required
      />
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Login</button>
    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
  </form>
</div>
